on: [push, pull_request]
name: Test
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.15.0-dev.919+044ccf413

      - name: Run unit tests
        run: zig build test --summary all

      - name: Run spec tests
        run: zig build spec --summary all
